<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css"/>
  <title>Comicbook DB</title> 
</head>
<body>
  <%- include('./partials/_navbar.ejs') %>
  <h1>Comicogs</h1>
  <h2>A database for listing your comic books.</h2>
</body>
</html>